.tile {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    background: #c0c0c0;
}

.open {
    background: #e4e4e4;
}

.mine {
    background: #ff0000;
}

.closed {
    background: #c0c0c0;
}