@font-face {
    font-family: indicator;
    src: url(../assets/fonts/indicator.ttf);
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
}

.tile .indicator {
    font-family: indicator;
    font-size: 30px;
    transform: translateX(2px);
}

/* Indicator colors */

.indicator-0 {
    filter: opacity(0);    
}

.indicator-1,
.indicator-6 {
    color: #0000ff   
}

.indicator-2 {
    color: #16d445   
}

.indicator-3 {
    color: #ff0000  
}

.indicator-4 {
    color: #8400ff  
}

.indicator-5,
.indicator-7,
.indicator-8 {
    color: #ff5e00  
}

.open {
    background: #e4e4e4;
}

.mine {
    background: #ff0000;
}

.closed {
    background: #c0c0c0;
}

/* Mine indicator */

.closed .indicator,
.mine .indicator {
    display: none;
}

/* Flags */

.tile-sprite {
    position: absolute;
    height: 30px;
    width: 30px;
}