.App {
  text-align: center;
}

@font-face {
    font-family: indicator;
    src: url(./assets/fonts/indicator.ttf);
}

.winner-text {
  font-family: indicator;
  font-size: 40px;
  color: #16d445;
}

